#{extends 'main.html' /}
#{set title:'Audioplay!' /}
#{set 'moreStyles'}
#{/set}

<div class="container-fluid">
  <div class="hero-unit">
    <button class="btn btn-large btn-inverse" id="play"><h2>Play!</h2></button>
  </div>
  <div class="row-fluid">
    <div class="span12 well"></div>
  </div>
</div>
#{set 'moreScripts'}
<script>
$(document).ready(function () {
  $('button#play').click(function () {
    
  });
});
</script>
#{/set}